<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/data.css">
    <title>Calculadora</title>
</head>
<body>
    <h2>Historico de cálculos</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Operação</th>
            <th>Número 1</th>
            <th>Número 2</th>
            <th>Resultado</th>
            <th>Usuário</th>
            <th>Criado em</th>
            <th>Atualizado em</th>
        </tr>
        <% for (let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].operation %></td>
                <td><%= data[i].number1 %></td>
                <td><%= data[i].number2 %></td>
                <td><%= data[i].valueResult %></td>
                <td><%= data[i].nameUser %></td>
                <td><%= data[i].createdAt %></td>
                <td><%= data[i].updatedAt %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>